@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');
*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  
  
}

a{
  text-decoration: none;
  color: rgba(15, 23, 97, 0.911);
  
}

html{
  scroll-behavior: smooth;
}

.container-1{
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(5, 43, 100, 0.2),rgba(140, 91, 231, 0.3)) ,url(/Asserts/images/bg.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  color: #fff;
  transition: 0.5s ease-in;
}

.container-1 img{
  width: 15%;
  border-radius: 50%;
}

.section-heading{
  color: #fff;
  background: #e41c6f;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 1px rgba(5, 43, 100, 0.2),10px 15px 10px rgba(214, 202, 236, 0.3);
}

.person-name{
  text-shadow: 1px 10px 10px black;
}

.container-1-btn{
  background: #e41c6f;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 1px 10px 1px #e41c6f,1px 20px 1px rgba(235, 228, 228, 0.555);
}

.container-2{
  padding: 10px 20px;
  background: #e41c6f;
  width: 100%;
  position: absolute;
  z-index: 300;
  
  
}



.nav-bar{
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 1px #5555;
  text-decoration: none;
  
  
}

.html i:hover{
  color: rgb(255, 94, 0);
}

.css i:hover{
  background: rgb(82, 177, 240);
  color: #fff;
  
 
}
.js i:hover{
  color: orange;
}
.node i:hover{
  padding: 10px 10px;
  background: greenyellow;
  color: black;
}

.python i:hover{
  color: rgb(26, 18, 134);
}

.db i:hover{
  color:#e41c6f;
}

.react i:hover{
  color: rgb(79, 187, 214);
  background: rgb(34, 34, 34);
}

.angular i:hover{
  color: rgb(194, 31, 31);
}



/* 
.nav-bar-link{
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
  margin: 0 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  position: relative;
  transition: color 0.2s;
} */

.change.navbar-link {
  color: #fff;
}

.navbar-link:hover {
  color: #fff;
}

.navbar-link::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  right: -15%;
  bottom: -0.3rem;
  transition: width 0.2s;
}

.change.navbar-link::before {
  width: 130%;
}

.navbar-link:hover::before {
  width: 130%;
}

.nav-bar a:hover{
  color: aliceblue;
  letter-spacing: 5px;
  transition: 0.5s ease-in-out;
  
}

.buttons{
  display: flex;
  gap:30px;
}

.container-3{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in;
  
  
}

.progress-bar-wrapper{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap:20px
}


.progress-bar-percentage{
  transform: translate(-16px,-10px);
  width: 90%;
  background: #e41c6f;
  height: 6vh;
  border-radius: 10px;
  z-index: -1;
  transition: 0.5s ease-in;
}



.progress-bar{
  
  padding: 10px 20px;
  background: rgba(245, 245, 245, 0.849);
  border-radius: 10px;
  height: 6vh;
  z-index: 1;

}

.progress-bar-text{
  z-index: 100;
  position: absolute;
  font-weight: 400;
  color: aliceblue;
  
}

.progress-bar-text span{
  z-index: 100;
  position: absolute;
  font-weight: 700;
  margin-left: 40px;
}
.progress-bar-text:hover{
  z-index: 100;
  position: absolute;
  font-weight: 400;
  color: aliceblue;
  letter-spacing: 10px;
  font-size: 20px;
}

.technology{
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  gap:80px;
}

.technology i{
  font-size: 100px;
}

.sticky{
  position: fixed;
  top:0;
}

.container-4{
  height: 320vh;
  transition: 0.5s ease-in;
}
/* .container-5{
  height: 100vh;
} */

.project{
  
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: whitesmoke;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 1px rgba(49, 24, 24, 0.2),5px 5px 5px rgb(34, 32, 32);

}

.project-image{
  width: 100%;
  height: 30vh;
  
  border-radius: 10px;
  
}

.project:hover .project-text{
  transform: translateY(120px);
}
.project:hover .project-link{
  transform: translateY(-100px);
}

.project:hover .project-image{
  opacity: 0.2;
}

.project:hover .html{
  color: rgb(255, 94, 0);
}

.project:hover .css{
  background: rgb(82, 177, 240);
  color: #fff;
}

.project:hover .js{
  color: orange;
}

.project:hover .react{
  color: rgb(79, 187, 214);
  background: rgb(34, 34, 34);
  
}

.info{
  display: none;
}

.project:hover .info{
  display: block;
}


.project-text{
  padding: 5px 20px;
  text-align: center;
  letter-spacing: 2px;
  transition: 0.5s ease-in;
  
}

.project-link{
  padding: 10px 10px;
  border: 2px solid #e41c6f;
  background: #fff;
  transition: 0.5s ease-in;
}

.container-4 .section-heading{
  width: 30%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 500px;
 
}


.container-4 .section-heading:hover{
  width: 30%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 400px;
  transform: skewY(-8deg);
}



.project-wrapper{
  padding: 10px 30px;
  margin: 10px 10px;
  display: flex;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  /* flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
  gap:20px;
}

.container-5 {
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-4-heading {
  color: #fff;
  box-shadow: none;
  border-color: #fff;
  margin-bottom: 5rem;
}


.contact-form {
  width: 50rem;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: #eef;
  font-size: 1.5rem;
  border: 0.2rem solid #e41c6f;
  color: #555;
}

.contact-form textarea {
  height: 10rem;
  max-height: 15rem;
  max-width: 100%;
}

.contact-form .contact-form-btn {
  background-color: #e41c6f;
  color: #fff;
  
  letter-spacing: 1rem;
  cursor: pointer;
}

.footer{
  padding: 30px 30px;
  background: #e41c6f;
  text-transform: lowercase;
  display: flex;
  justify-content: space-between;
}

.social a{
  text-decoration: none;
  
}

.social i{
  color: #333;
  
}

.social{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.contact{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.phone{
  display: flex;
  gap:10px;
}
.email{
  display: flex;
  gap:10px;
}

.end{
  text-align: center;
  background: #fff;
  color: #333;
}

.experience{
  margin-top: 100px;
  height: 220vh;
}

.work-experience{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
  
}

.company-1{
  margin-top: 50px;
  width: 60%;
  padding: 20px 30px;
  display: flex;
  gap:50px;
  border-radius: 20px;
  box-shadow: 10px 10px 1px rgba(49, 24, 24, 0.2),5px 5px 5px rgb(34, 32, 32);
}

.company-logo{
  display: flex;
  flex-direction: column;
  gap:100px;
  width: 100%;
}

.infosys-office{
  width: 100%;
}



#linkdin:hover{
  color: blue;
  background-color: #fff;
}

#github:hover{
  background: #fff;
}

/* 
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
} */

/* The actual timeline (the vertical ruler) */
/* .timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
} */

/* Container around content */
/* .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 50px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}
.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
} */


@media(max-width:393px){
  .container-1{
    width: 100%;
   
  }

  .container-1 img{
    width: 50%;
  }
  .buttons{
    flex-direction: column;
  }

  /* .sticky{
    position:fixed;
    top: auto;
    overflow: hidden;
    width: 100%; 
    
  } */


  
  .container-3{
    margin-top: 100vh;
    width: 300px;
    height: 100vh;
    margin-left: 20px;
  }
  .progress-bar-wrapper{
    width: 300px;
  }
  .progress-bar{
    width: 300px;
  }

  .technology{
    grid-template-columns: 150px;
    margin-left: 100px;
  }

  .project-wrapper{
    margin-top: 30px;
    grid-template-columns: 300px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .project{
    align-items: center;
    justify-content: center;
  }
  .container-4{
    margin-top: 900px;
    height: 800vh;
  }

  .experience{
    margin-top: 60vh;
    height: 200vh;
  }

  .container-2{
    overflow: hidden;
  }

  

  

  .container-4 .section-heading{
    margin-left: 30px;
    width: 80%;
    

  }
  .container-5{
    width: 100%;
    height: 100vh;
  }

  .work-experience{
    margin-top: 200vh;
   
    height: 100vh;
  }

  .company-1{
    width: 80%;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
  }

  .company-1 .buttons{
    display: flex;
    flex-direction: column;
  }

  .footer{
    display: flex;
    flex-direction: column;
    gap:30px;
  }

  .nav-bar{
    margin-left: 0;
    margin-right: 0;
    gap:15px;
    letter-spacing: 0;
  }

  .container-2 #cnt{
    display: none;
  }

  .navbar-link.change{
    color: #fff;
  }
  .contact-form {
    width: 80%;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #eef;
    font-size: 1.5rem;
    border: 0.2rem solid #e41c6f;
    color: #555;
  }
  
  .contact-form textarea {
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
  }
  
  .contact-form .contact-form-btn {
    background-color: #e41c6f;
    color: #fff;
    
    letter-spacing: 1rem;
    cursor: pointer;
  }
  .container-5{
    margin-top: 100vh;
    height: 100vh;
  }

  




}

